

<h1><%=@the_user.username%></h1>

<%# the_matching_user = SavedItem.where({:user_id => @the_user.id})%>


<%# the_matching_user.each do |matching_saved_item_record|%>

<%# list_of_item_id = matching_saved_item_record.item_id%>

<%#=an_item = Item.where({:id => list_of_item_id}).at(0)%>

<%#= an_item.store_id%> 
<%#end%>
<%# item_info = Item.where({ :id => matching_item_record})%>

<%# @list_of_saved_items.each do |saved_item|%>
        <%#the_item_id = saved_item.item_id%>
         
<h2> List of all your items </h2>

<hr>

<div>
  <div>
    <h2>
      Add a new item
    </h2>

    <form action="/insert_item" method="post">
      

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="price_box">
          Price
        </label>

        <input type="text" id="price_box" name="query_price">
      </div>

      <div>
        <label for="store_id_box" >
          Store
        </label>
          
   
        
        <select name="query_store_name" id="store_id_box">
          <% Store.all.order(:title).each do |store|%>
        <option>
          <%= store.name%>
          <%#= store.name%>
        </option>
        <%end%>
        
        
        </select>

        <a href="/stores"> Add a new store </a>
      </div>

      <div>
        <label for="item_url_box">
          Item url
        </label>

        <input type="text" id="item_url_box" name="query_item_url">
        
      </div>

      <div>
        <label for="clothing_category_id_box">
          Clothing category
        </label>

        <select id="clothing_category_id_box" name="query_clothing_category_name">
        
          <% ClothingCategory.all.order(:title).each do |category|%>
        

         <option> 
         
         
         <%= category.category_name%>
        
        <%end%>
        </option>
        </select>

         

          

        <a href="/clothing_categories"> Add a new category </a>
      </div>

      <button>
        Create item
      </button>
    </form>
  </div>


  
</div>
<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Description
        </th>

        <th>
          Price
        </th>

        <th>
          Store
        </th>

        <th>
          Item url
        </th>

        <th>
          Clothing category
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

  

  

  <% @list_of_saved_items.each do |saved_item|%>
        <%the_item_id = saved_item.item_id%>
        <%an_item = Item.where({:id => the_item_id}).at(0)%> 
        
    <tr>

        <td>
          <%= an_item.id %>
        </td>

        <td>
          <%= an_item.description %>
        </td>

        <td>
          <%= an_item.price %>
        </td>

        <td>
          <%= an_item.store_name %>
        </td>

        <td>
          <a href="<%= an_item.item_url %>"> View item </a>
        </td>

        <td>
          <%= an_item.category %>
        </td>

        <td>
          <%= time_ago_in_words(an_item.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_item.updated_at) %> ago
        </td>

        <td>
          <a href="/items/<%= an_item.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

    

    

    

    
  </div>
