<div>
  <div>
    <h1>
      Your <%= @the_store.name %> Wish List
      <% url_name = @the_store.name.downcase.gsub(/\s+/, "").to_s %>
     <div> <img src="//logo.clearbit.com/prettylittlething.us"></div>
    </h1>

    <div>
      <div>
        <a href="/saved_stores_by_users">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_store/<%= @the_store.id %>">
          Delete store
        </a>
      </div>

      <div>
        <% user_id = session.fetch(:user_info_id)%>

        <button><a href="/users/<%=user_id%>"> Add a new item! </a></button>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_store.name %>
      </dd>

      <dt>
        Address
      </dt>
      <dd>
        <%= @the_store.address %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_store.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_store.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Description
        </th>

        <th>
          Price
        </th>

        <th>
          Store
        </th>

        <th>
          Item url
        </th>

        <th>
          Clothing category
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>

        
        </th>
      </tr>

      <h2> List of all your items from <%=@the_store.name%> </h2>

        

        
        


      <hr>
        <% the_user_id = session.fetch(:user_info_id)%>
        <% user_record = UserInfo.where({:id => the_user_id}).at(0)%>


        <% user_record.items.each do |an_item| %>
      <tr>
        <% if an_item.store_id == @the_store.id %>
        <td>
          <%= an_item.id %>
        </td>

        <td>
          <%= an_item.description %>
        </td>

        <td>
          <%= an_item.price %>
        </td>

        <td>
          <%= an_item.store_name %>
        </td>

        <td>
          <a href="<%= an_item.item_url %>"> View item </a>
        </td>

        <td>
          <%= an_item.category %>
        </td>

        <td>
          <%= time_ago_in_words(an_item.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_item.updated_at) %> ago
        </td>

        <td>
          <a href="/items/<%= an_item.id %>">
            Show details
          </a>
        </td>
      </tr>
      <%end%>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Edit store
    </h2>

    <form action="/modify_store/<%= @the_store.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_store.name %>">
      </div>

      <div>
        <label for="address_box">
          Address
        </label>

        <input type="text" id="address_box" name="query_address" value="<%= @the_store.address %>">
      </div>

      <button>
        Update store
      </button>
    </form>
  </div>
</div>

<hr>
