<div>
  <div>
    <h1>
      <%= @the_clothing_category.category_name %> category details
    </h1>

    <div>
      <div>
        <a href="/clothing_categories">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_clothing_category/<%= @the_clothing_category.id %>">
          Delete clothing category
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Category name
      </dt>
      <dd>
        <%= @the_clothing_category.category_name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_clothing_category.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_clothing_category.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>
<hr>

<table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Description
        </th>

        <th>
          Price
        </th>

        <th>
          Store
        </th>

        <th>
          Item url
        </th>

        <th>
          Clothing category
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>

        
        </th>
      </tr>
 <h2> List of all  <%=@the_clothing_category.category_name%> items </h2>

        <% matching_category_items = @list_of_items.where({:clothing_category_id => @the_clothing_category.id})%>
        <% list_of_category_items = matching_category_items.order({ :created_at => :desc })%>
        
        <% list_of_category_items.each do |an_item| %>
      <tr>
        <td>
          <%= an_item.id %>
        </td>

        <td>
          <%= an_item.description %>
        </td>

        <td>
          <%= an_item.price %>
        </td>

        <td>
          <%= an_item.store_name %>
        </td>

        <td>
          <a href="<%= an_item.item_url %>"> View item </a>
        </td>

        <td>
          <%= an_item.category %>
        </td>

        <td>
          <%= time_ago_in_words(an_item.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_item.updated_at) %> ago
        </td>

        <td>
          <a href="/items/<%= an_item.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<hr>


<div>
  <div>
    <h2>
      Edit clothing category
    </h2>

    <form action="/modify_clothing_category/<%= @the_clothing_category.id %>"  method="post" >
      <div>
        <label for="category_name_box">
          Category name
        </label>

        <input type="text" id="category_name_box" name="query_category_name" value="<%= @the_clothing_category.category_name %>">
      </div>

      <button>
        Update clothing category
      </button>
    </form>
  </div>
</div>

<hr>
