<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>
  <%= notice%>
  <%= alert%>
  <nav>
    <ul>
      <li> <a href="/users"> List of users </a></li>
      <li> <a href="/clothing_categories"> CLothing Categories </a></li>
       <li>   <a href="/stores"> Stores </a></li>
     <li> <a href="/items"> Items </a></li>
     <li> <a href="/friendships"> Friendships </a></li>
      <li><a href="/saved_items"> Saved items </a></li>
      <li><a href="/user_info_sign_up"> Sign up </a></li>
     <li> <a href="/user_info_sign_in"> Sign in </a></li>

     <% if @current_user_info.present? %>

     <li> <a href="/edit_user_info_profile"> Edit user profile </a></li>

      <% end %>
    </ul>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
